.sheet-content {
    margin: 20px;
}

.sheet-content p {
    margin: 15px 0;
}

.sheet-content a {
    color: #ca8db8;
    text-decoration: none !important;
    transition: 0.2s;
}

.sheet-content a:hover {
    color: white;
}

.sheet-content .bold {
    font-weight: bold;
}

.sheet-content .italic {
    font-style: italic;
}

.sheet-content p:first-of-type {
    display: none;
}