:root {
    --post-fondo: #111111;
    --post-borde: white;
    --post-fuente: #9e9e9e;
}

.post {
    padding-top: 5px;
}

.post a {
    color: var(--post-fuente);
    text-decoration: none;
    transition: 0.3s
}

.post a:hover {
    color: white;
}

.post i {
    font-style: oblique;
}

.post *::selection {
    color: white;
    background: #42424236;
}

.post-container {
    width: 550px;
    filter: 
    drop-shadow(1px 0px 0px var(--post-borde))
    drop-shadow(-1px 0px 0px var(--post-borde))
    drop-shadow(0px 1px 0px var(--post-borde)) 
    drop-shadow(0px -1px 0px var(--post-borde));
}

.post-heading, .post-content, .post-footing {
    background: var(--post-fondo);
}
.post-heading, .post-footing {
    width: 100%;
    height: 144px;
    clip-path: path("M82.1036 79C131.741 30.1439 199.85 0 275 0C350.15 0 418.259 30.1439 467.896 79H505.267L508.969 92.8197C514.877 114.872 529.76 133.437 550 144H0C20.2398 133.437 35.1234 114.872 41.0311 92.8197L44.7334 79H82.1036Z");
}

.post-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    min-height: 250px;
    position: relative;
    padding-inline: 60px;
    box-sizing: border-box;
    gap: 50px;
    z-index: 2;
}

.post .corner {
    border: 1px solid var(--post-borde);
}

.post-footing {
    transform: rotate(180deg);
}

.img-box {
    position: relative;
    width: 100%;
    height: 170px;
    border-radius: 100px;
    border: 1px solid var(--post-borde);
}

.text-box {
    position: relative;
    background: #131313;
    width: 100%;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px var(--post-borde);
}

.post .corners {
    pointer-events: none;
}

.post .corners .corner {
    background: var(--post-fondo);
}

.text-box .text {
    width: 100%;
    height: 100%;
    padding: 60px 30px 70px 50px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    gap: 20px;
    color: var(--post-fuente);
    font-family: 'Asul', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.text-box h1 {
    font-family: 'Amarante', serif;
    font-size: 40px;
    color: var(--post-borde);
    line-height: 1;
    text-align: center;
    margin-bottom: 10px
}

.text-box h2 {
    font-family: 'Amarante', serif;
    font-size: 40px;
    color: var(--post-borde);
    line-height: 1;
    text-align: center;
    margin-bottom: 10px
}

.text-box h3 {
    font-weight: bold;
    color: #ffffffb6;
    font-size: 17px;
    text-align: center;
}

.text-box ul {
    padding-left: 50px;
}

.text-box ul li {
    margin-bottom: 10px;
}

.text-box ul li::before {
    content: '-';
    position: absolute;
    margin-left: -20px;
}


.text-box .text h1:not(:first-child) {
    margin-top: -30px;
}


.text p:last-child {
    margin-block: 20px;
    background: #50505025;
    border: 1px solid #dddddd23;
    border-radius: 10px;
    padding: 15px;
    white-space: pre-wrap;
    color: rgb(218, 218, 218);
}

.text p:last-child i {
    color: rgb(105, 105, 105);
}

.text p:last-child i::before {
    content: "!";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #00000007;
    border: 1px solid #ffffff23;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    border-radius: 100%;
    margin-right: 5px;
}



.text b {
    font-weight: bold;
}

.post .ornaments .romboid.right {
    margin-right: -9px;
}

.post .ornaments .romboid.left {
    margin-left: -9px;
}

.post .sparkle.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 200px;
    z-index: 5;
}

/* Big post */

.big-post-container {
    width: 720px;
    height: 100%;
    padding: 45px;
    background: #141414;
    border: 1px solid #1b1b1b;
}

.big-post-container .content {
    box-shadow: inset 0 0 0 1px white;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.big-post-container .corners .corner {
    background: #141414;
    border: 1px solid white;
}

.big-post-container .content-body {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    gap: 50px;
}

.big-post-container .img-box {
    height: 200px;
    border-radius: 0px;
    border: 1px solid white;
}

.big-post-container .text-box {
    box-sizing: border-box;
    color: #d1d1d1;
}

.big-post-container .text-box .text {
    padding: 50px 40px;
    font-size: 15px;
}

.big-post-container .text-box .text p:last-child {
    margin-block: 5px;
}

/* Torneo de duelo */

.matches {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.matches .match {
    padding: 20px;
    background: rgba(0, 0, 0, 0.336);
    border: 1px solid rgba(255, 255, 255, 0.103);
    border-radius: 30px;
    text-align: center;
}

/* Imgs */
#pruebadevalentia .img-box {
    background: url(https://i.imgur.com/OoD8GMW.png);
}

#moradaserpiente .img-box {
    background: url(https://i.imgur.com/C5Fc2qd.png);
}

#vacaciones .img-box {
    background: url(https://i.imgur.com/vhZsC8H.png);
}

#torneoduelo1 .img-box {
    background: url(https://i.imgur.com/vW7kTLU.png);
}

/* Aclaraciones */
#torneoduelo1 .aclaracion::after {
    content: " (El uso de las Artes Oscuras no está permitido)";
    color: #5d5d5d;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}

