.wyrmsworn-container {
    --base: #431418;
    --claro: #784c4c;
    --portada: #46171b;
    --informacion: #4b1a1e;
    --miembros: #4d1e21;
}

.wyrmsworn-container {
    display: flex;
    padding: 20px;
    padding-right: 35px;
    gap: 15px;
    width: 750px;
    height: 680px;
    background: var(--base);
    border: 1px solid var(--claro);
    color: var(--claro);
}

.wyrmsworn {
    overflow: hidden
}

.wyrmsworn {

.col {
    flex: 0 0 50%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.col.left {
    background: var(--claro);
    border-top-right-radius: 60px;
    color: var(--base);
}

.col.right {
    gap: 20px;
}

.col.right > * {
    height: 100%;
}

.col.right h2 {
    font-family: Amarante;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding-block: 30px;
}

.miembros {
    background: var(--miembros);
    border: 1px solid var(--claro);
    border-top-left-radius: 60px;
    position: relative;
}

.miembros-box {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    position: relative;
}

.miembros-box::-webkit-scrollbar {
    height: 6px;
}

.miembros-box::-webkit-scrollbar-thumb {
    background-color: var(--claro);
    border-radius: 0px;
}

.miembros-box::-webkit-scrollbar-track {
    background: var(--base);
}

.miembros-slide {
    display: flex;
    width: max-content;
    gap: 30px;
    padding-inline: 115px;
    padding-block: 5px 30px;
}

.miembro {
    position: relative;
    width: 140px;
    height: 195px;
    border: 1px solid var(--claro);
    border-radius: 19px;
    display: flex;
    background: var(--portada);
    background-size: 100%!important;
    background-position: center!important;
    transition: 0.3s;
    overflow: hidden;
}

.miembro::-webkit-scrollbar {
    width: 0px;
}

.miembro:hover .desc {
    opacity: 1;
}

.miembro .desc {
    width: 100%;
    min-height: 100%;
    height: max-content;
    background: #41161648;
    color: #915f5f;
    backdrop-filter: blur(10px);
    padding: 15px;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 0;
    transition: 0.5s;
    text-align: justify;
    margin-top: 150px;
    border-top: 1px solid var(--claro);
}

.miembro .desc::before {
    content:'Descripción';
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-block: 1px 16px;
}

.miembro .desc:hover {
    margin-top: -1px;
}

.miembro:first-child.inhover {
    margin-left: -40px;
}

.miembro.inhover {
    width: 230px;
    margin-inline: -10px;
    overflow: auto;
    transition: 0.5s;
}

.tag {
    width: fit-content;
    font-family: Amarante;
    color: #bd8f8f;
    text-transform: uppercase;
    font-weight: normal!important;
}

.tag i {
    font-size: 13px;
}


#deviant {
    background: url(https://i.imgur.com/2KFcZWH.png);
}

#cayden {
    background: url(https://i.imgur.com/1Ar42Mg.png);
}

#mikaboshi {
    background: url(https://i.imgur.com/luJJGfy.png);
}

#castellan {
    background: url(https://i.imgur.com/lEKiAsu.png);
}

#unforgiven {
    background: url(https://i.imgur.com/YrBRNt6.png);
}

#saiyuki {
    background: url(https://i.imgur.com/dSvDpSo.png);
}

#kanto {
    background: url(https://i.imgur.com/QkeAILs.png);
}

#seaweed {
    background: url(https://i.imgur.com/t7n28PZ.png);
}

#zelda {
    background: url(https://i.imgur.com/PAzREwn.png);
}

#goaway {
    background: url(https://i.imgur.com/4sPHkuM.png);
}

#majestrix {
    background: url(https://i.imgur.com/4jvj7lz.png);
}

#kazahana {
    background: url(https://i.imgur.com/sZ41bbQ.png);
}

.informacion {
    background: var(--informacion);
    border: 1px solid var(--claro);
    border-bottom-left-radius: 60px;
    padding-inline: 25px;
    font-size: 17px;
    text-align: justify;
    overflow: auto;
}

.informacion::-webkit-scrollbar {
    width: 0px;
}

.informacion p {
    white-space: pre-wrap;
    padding-bottom: 50px;
}

.informacion b {
    font-weight: bold
}

.titulo {
    display: flex;
    flex-flow: column;
    gap: 15px;
    text-align: center;
    padding-block: 80px;
}

.titulo h1 {
    font-family: Aqila;
    font-size: 43px;
    transform: scale(1.13) translatex(-1.5px);
}

.titulo p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.portada {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--miembros);
    border: 1px solid var(--claro);
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    height: 100%;
    box-shadow: 0 0 0 20px var(--base);
}

.portada .svg {
    width: 215px;
    height: 215px;
    background: var(--portada);
    border: 1px solid var(--claro);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

}